@mixin bl-undertitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

@mixin bl-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.single-course {
    &-caption {
        padding-left: 345px;
        padding-right: 345px;
        padding-top: 120px;
        padding-bottom: 120px;
        background: url("/public/images/event-caption-bg.png") no-repeat;
    }

    &-undertitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        color: #FF3F3A;
    }

    &-title {
        width: 1020px;
        margin: 12px auto;
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        text-align: center;
        color: #1E212C;
    }

    &-main {
        margin-top: 120px;
        margin-bottom: 120px;
        margin-left: 345px;
        margin-right: 345px;
    }

    .course-main {
        &-title {
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1E212C;
        }

        &-desc {
            width: 600px;
            margin-top: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }

        &-learn {
            margin-top: 48px;

            .main-learn {
                &-title {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 150%;
                    color: #1E212C;
                }

                &-box {
                    margin-top: 24px;
                    flex-direction: column;
                    gap: 4px;
                }

                &-item {
                    gap: 16px;

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        color: #424551;
                    }
                }
            }

        }

        &-info {
            width: 495px;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 32px;
            padding-right: 32px;
            border: 1px solid #E5E8ED;
            box-shadow: 10px 10px 43px 0px rgba(0, 0, 0, 0.75);

            .main-info {
                &-box {
                    flex-direction: column;
                    gap: 32px;
                }

                &-undertitle {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #1E212C;
                }

                &-title {
                    margin-top: 4px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 130%;
                    color: #FF3F3A;
                }

                &-desc {
                    margin-top: 8px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #787A80;
                }
            }

            button {
                display: block;
                width: 431px;
                margin-top: 40px;
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                border: 1px solid #F75E05;
                border-radius: 4px;
                font-weight: 700;
                font-size: 14px;
                line-height: 44px;
                letter-spacing: 0.5px;
                color: #FFFFFF;
                cursor: pointer;
            }
        }

    }

    &-middle {
        margin-top: 114px;
        margin-bottom: 120px;
        padding-top: 66px;
        padding-bottom: 126px;
        padding-left: 345px;
        padding-right: 345px;
        background: url("/public/images/course-middle-bg.png") no-repeat;
    }

    .course-creator {
        &-undertitle {
            @include bl-undertitle;
        }

        &-title {
            margin-top: 8px;
            @include bl-title;
        }

        &-subtitle {
            margin-top: 16px;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #787A80;
        }

        &-info {
            margin-top: 32px;
            flex-direction: column;
            gap: 4px;

            .creator-info-item {
                gap: 8px;

                h5 {
                    margin-top: -4px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #424551;
                }
            }
        }

        &-desc {
            width: 600px;
            margin-top: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }

        &-social {
            margin-top: 40px;
            gap: 24px;
        }
    }

    &-steps {
        margin-top: 180px;

        .course-steps {

            &-undertitle,
            &-title {
                text-align: center;
            }

            &-undertitle {
                @include bl-undertitle;
            }

            &-title {
                margin-top: 8px;
                @include bl-title;
            }

            &-box {
                margin-top: 60px;
                gap: 30px;
            }

            &-item {
                width: 285px;

                &:last-child {
                    .steps-item-main {
                        margin-top: -28px;
                    }

                    .steps-item-title {
                        margin-top: -10px;
                    }
                }
            }


        }

        .steps-item {
            &-main {
                gap: 22px;

            }

            &-num {
                font-weight: 900;
                font-size: 46px;
                line-height: 130%;
                color: #D7DADD;

            }



            &-title {
                margin-top: 16px;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #1E212C;
            }

            &-desc {
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #787A80;
            }
        }

        .item-num__red {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 15px;
            padding-right: 15px;
            color: #FF3F3A;
            background-color: rgba(255, 17, 0, 0.12);
            border: 16px solid rgba(255, 17, 0, 0.06);
            border-radius: 50px;



        }
    }

    &-discount {
        margin-top: 177px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 60px;
        padding-right: 60px;
        background: url("/public/images/course-discount-bg.png") no-repeat;


        .course-discount {
            &-title {
                font-weight: 900;
                font-size: 32px;
                line-height: 130%;
                color: #1E212C;
            }

            &-times {
                gap: 24px;

                .times-item {
                    &-title {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 130%;
                        color: #1E212C;
                    }

                    &-subtitle {
                        margin-top: 4px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 150%;
                        color: #1E212C;
                    }
                }
            }

            &-fm {
                margin-top: 32px;
                gap: 24px;
                align-items: flex-end;

                .input-bl {
                    label {
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: #424551;
                    }

                    input {
                        display: block;
                        width: 291px;
                        margin-top: 8px;
                        padding-top: 11px;
                        padding-bottom: 12px;
                        padding-left: 16px;
                        border: 1px solid #D7DADD;
                        border-radius: 4px;
                        outline: none;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: #9A9CA5;

                        &::placeholder {
                            color: #9A9CA5;
                        }
                    }
                }

                button {
                    display: block;
                    width: 165px;
                    height: 44px;
                    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                    border: 1px solid #F75E05;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 44px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }

    }

    &-benefit {
        margin-top: 180px;

        .course-benefit {
            &-undertitle {
                @include bl-undertitle;
            }

            &-title {
                margin-top: 8px;
                @include bl-title;
            }

            &-box {
                flex-direction: column;
                gap: 20px;
            }

            &-item {
                gap: 16px;


                h5 {
                    width: 564px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #424551;
                }


            }
        }


    }

    &-program {
        margin-top: 54px;
        margin-left: 345px;
        margin-right: 345px;
        margin-bottom: 120px;

        .course-program {
            &-undertitle {
                @include bl-undertitle;
            }

            &-title {
                margin-top: 8px;
                @include bl-title;
            }

            &-box {
                margin-top: 60px;
                flex-direction: column;
                gap: 24px;
            }

            &-item {
                width: 600px;
                gap: 20px;
                align-items: flex-start;

                button {
                    display: block;
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                }

                h5 {
                    margin-top: -5px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #1E212C;

                    span {
                        margin-right: 6px;
                        font-weight: 400;
                        color: #FF3F3A;
                    }
                }

                p {
                    margin-top: 16px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #424551;
                }
            }
        }
    }

    &-submiddle {
        margin-top: 120px;
        margin-bottom: 120px;
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 345px;
        padding-right: 333px;
        background: #F4F5F7;
    }

    .course-testimonials {
        &-undertitle {
            @include bl-undertitle;
            text-align: center;
        }

        &-title {
            margin-top: 8px;
            @include bl-title;
            text-align: center;
        }

        &-box {
            margin-top: 60px;

            button {
                display: block;
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }
        }


        &-content {
            gap: 30px;
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 105px;
            padding-right: 105px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 6px;
            box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        }

        &-desc {
            width: 752px;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #424551;
        }

        &-author {
            margin-top: 24px;
            gap: 20px;

            .testimonials-author {
                &-name {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #1E212C;
                }

                &-position {
                    margin-top: 4px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #787A80;
                }
            }
        }

    }

    &-request {
        margin-top: 194px;

        .course-request {
            &-undertitle {
                @include bl-undertitle;
            }

            &-title {
                margin-top: 8px;
                @include bl-title;
            }

            &-fm {
                margin-top: 40px;

                .input-bl {
                    margin-bottom: 24px;

                    label,
                    input {
                        display: block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                    }

                    label {
                        color: #424551;
                    }

                    input {
                        width: 495px;
                        margin-top: 8px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        padding-left: 16px;
                        border: 1px solid #D7DADD;
                        border-radius: 4px;
                        outline: none;
                        color: #9A9CA5;

                        &::placeholder {
                            color: #9A9CA5;
                        }
                    }
                }

                button {
                    display: block;
                    width: 495px;
                    margin-top: 40px;
                    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                    border: 1px solid #F75E05;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 52px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }

    &-other {
        margin-top: 120px;
        margin-bottom: 140px;
        margin-left: 345px;
        margin-right: 345px;

        .course-other {
            &-undertitle {
                @include bl-undertitle;
            }

            &-title {
                margin-top: 8px;
                @include bl-title;
            }

            &-controls {
                gap: 24px;

                button {
                    display: block;
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                }
            }

            &-box {
                margin-top: 60px;
            }

            &-action {
                width: fit-content;
                margin: 80px auto;
                gap: 40px;

                h5 {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 150%;
                    color: #1E212C;
                }

                button {
                    display: block;
                    width: 203px;
                    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                    border: 1px solid #F75E05;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 52px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
}