.course-v {
    width: 390px;
    padding-bottom: 24px;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);

    &-cat {
        width: fit-content;
        margin-top: 24px;
        margin-left: 24px;
        padding: 1px 8px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
    }

    &-title {
        margin-top: 20px;
        margin-left: 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1E212C;
    }

    &-info {
        margin-top: 20px;
        margin-left: 24px;
        gap: 8px;
    }

    &-price {
        padding-right: 8px;
        border-right: 1px solid #787A80;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #FF4242;
    }

    &-author {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #787A80;
    }
}