.footer {
    margin-top: -61px;
    &-bar {
        padding-top: 80px;
        padding-bottom: 60px;
        padding-left: 345px;
        padding-right: 345px;
        background: #1E212C;
    }

    &-desc {
        width: 279px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.6;
    }

    &-social {
        margin-top: 38px;
        gap: 20px;
    }

    &-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &-list {
        list-style-type: none;
        margin-top: 12px;

        &-item {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                text-decoration: none;
                color: #FFFFFF;
            }
        }

    }

    &-phone,
    &-email {
        padding-left: 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
    }

    &-phone {
        margin-top: 12px;
        background: url("/public/images/phone.png") no-repeat;
        background-position: 0;
    }


    &-email {
        margin-top: 8px;
        background: url("/public/images/mail.png") no-repeat;
        background-position: 0;
    }

    &-subscribe {
        width: 286px;
        margin-top: 12px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        color: #FFFFFF;
    }

    &-fm {
        width: 286px;
        margin-top: 33px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 12px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        gap: 50px;

        input {
            display: block;
            width: 70%;
            border: 0;
            background-color: transparent;
            outline: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.6;

            &::placeholder {
                color: #FFFFFF;
            }
        }

        button {
            display: block;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &-info {
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 345px;
        padding-right: 345px;
        background: #292C37;
    }

    &-rights {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;

        img {
            margin-left: 4px;
            margin-right: 4px;
        }
    }

    &-top {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.6;
    }
}